<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Bio Surveillance</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Alarms</a>
      <a class="nav-item nav-link" href="#">Cameras</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" target="_blank" >
        <i class="fa fa-user-circle-o"></i> Guest
      </a>
    </div>
  </div>
</nav>